{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Student Enrollment Form</title>
</head>
<body>
    <div class="container mt-5">>
        <h1>Student Enrollment Form</h1>
        <form class="row g-3" action="">
            <div class="col-md-4">
                <label for="wLRN" class="form-label">With LRN?</label>
                <select class="form-select" id="wLRN">
                    <option selected>Select yes/no</option>
                    
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    
                  </select>
            </div>
            <div class="col-md-4">
                <label for="balik" class="form-label">Returning Balik Aral?</label>
                <select class="form-select" id="balik">
                    <option selected>Select yes/no</option>
                    
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    
                  </select>
            </div>
            <div class="col-md-2">
                <label for="Lvl" class="form-label">Grade Level to enroll?</label>
                <select class="form-select" id="Lvl">
                    <option selected>Select Grade Level</option>
                    
                    <option value="1">7</option>
                    <option value="2">8</option>
                    <option value="3">9</option>
                    <option value="4">10</option>
                    <option value="5">11</option>
                    <option value="6">12</option>
                    
                  </select>
            </div>
            <div class="col-md-2">
                <label for="SY" class="form-label">School Year</label>
                <input type="text" class="form-control" id="SY" placeholder="ex.2020-2021" >
            </div>
            <div class="col-md-4">
                <label for="PSA" class="form-label">PSA Birth Certificate No.(If available upon registration)</label>
                <input type="text" class="form-control" id="PSA" placeholder="1368180800**" >
            </div>
            <div class="col-md-4">
                <label for="Lrn" class="form-label">Learning Reference Number (LRN)</label>
                <input type="text" class="form-control" id="Lrn" placeholder="1368180800**" maxlength="12" minlength="12" pattern="\d{12}" title="LRN must be exactly 12 digits.">
            </div>
            
            <div class="col-md-4"> 
                <label for="bDay" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="bDay" name="birthday">
            </div>
            
            <div class="col-md-4">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Juan">
            </div>
            <div class="col-md-4">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Dela Cruz">
            </div>
            <div class="col-md-2">
                <label for="firstName" class="form-label">Middle Initials</label>
                <input type="text" class="form-control" id="middleName" placeholder="C.">
            </div>
            <div class="col-md-2">
                <label for="Suff" class="form-label">Suffix</label>
                <input type="text" class="form-control" id="Suff" placeholder="Jr./Sr.">
            </div>


            <!-- Address Section-->
            <h4 class="mt-5">Current Address</h4>

            <div class="col-md-6">
                <label for="lot" class="form-label">House No./Lot/Bldg</label>
                <input type="text" class="form-control" id="lot" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="Strt" class="form-label">Street/Subdivision/Purok</label>
                <input type="text" class="form-control" id="Strt" placeholder="">
            </div>

            <div class="col-md-4 ">
                <label for="Barangay" class="form-label">Barangay</label>
                <select class="form-select" id="Barangay" >
                    <option selected>Select Barangay</option>
                    {%for item in all %}
                    <option value="{{item}}">{{item}}</option>
                    {%endfor%}
                  </select>
            </div>
            <div class="col-md-4">
                <label for="City" class="form-label">Municipality/City</label>
                <select class="form-select" id="City">
                    <option selected>Select Municipality/City</option>
                    
                    <option value="Valenzuela City">Valenzuela City</option>
                    
                  </select>
            </div>
            <div class="col-md-2">
                <label for="Reg" class="form-label">Region</label>
                <select class="form-select" id="Reg">
                    <option selected>Select Region</option>
                    
                    <option value="National Capital Region">National Capital Region</option>
                    
                  </select>
            </div>

            <div class="col-md-2">
                <label for="Zip" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="Zip" placeholder="">
              
            </div>

            

            <h4 class="mt-5">Permanent Address</h4>
            <div class="col-md-12">
                <label for="Perma" class="form-label">Same with current address?</label>
                <select class="form-select" id="Perma">
                    <option selected>Select yes/no</option>
                    
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    
                  </select>
            </div>
            <div class="col-md-6">
                <label for="lot_p" class="form-label">House No./Lot/Bldg</label>
                <input type="text" class="form-control" id="lot_p" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="Strt_p" class="form-label">Street/Subdivision/Purok</label>
                <input type="text" class="form-control" id="Strt_p" placeholder="">
            </div>

            <div class="col-md-4 ">
                <label for="Barangay_p" class="form-label">Barangay</label>
                <input type="text" class="form-control" id="Barangay_p" placeholder="">
            </div>
            <div class="col-md-4">
                <label for="City_p" class="form-label">Municipality/City</label>
                <input type="text" class="form-control" id="City_p" placeholder="">
            </div>
            <div class="col-md-2">
                <label for="Reg_p" class="form-label">Region</label>
                <input type="text" class="form-control" id="Reg_p" placeholder="">
            </div>

            <div class="col-md-2">
                <label for="Zip_p" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="Zip_p" placeholder="">
              
            </div>
            <h4 class="mt-5">Parents/Guardian Information</h4>
            <h5>Father's Name</h5>
            <div class="col-md-4">
                <label for="F_lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="F_lname" placeholder="">
            </div>
            <div class="col-md-4">
                <label for="F_fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="F_fname" placeholder="">
            </div>
            <div class="col-md-2">
                <label for="F_mname" class="form-label">Middle Initials</label>
                <input type="text" class="form-control" id="F_mname" placeholder="">
            </div>

            <div class="col-md-2">
                <label for="F_contact" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="F_contact" placeholder="">
            </div>

            <h5>Mother's Name </h5>
            <div class="col-md-4">
                <label for="M_lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="F_lname" placeholder="">
            </div>
            <div class="col-md-4">
                <label for="M_fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="F_fname" placeholder="">
            </div>
            <div class="col-md-2">
                <label for="M_mname" class="form-label">Middle Initials</label>
                <input type="text" class="form-control" id="F_mname" placeholder="">
            </div>

            <div class="col-md-2">
                <label for="F_contact" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="F_contact" placeholder="">
            </div>

            <h5>Guardian's Name </h5>
            <div class="col-md-4">
                <label for="G_lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="F_lname" placeholder="">
            </div>
            <div class="col-md-4">
                <label for="G_fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="F_fname" placeholder="">
            </div>
            <div class="col-md-2">
                <label for="G_mname" class="form-label">Middle Initials</label>
                <input type="text" class="form-control" id="F_mname" placeholder="">
            </div>

            <div class="col-md-2">
                <label for="G_contact" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="F_contact" placeholder="">
            </div>
            <h5 class="mt-5">For Returning Learner(Balik-Aral) and those who will Transfer/Move in</h5>
            <div class="col-md-6">
                <label for="L_Glevel" class="form-label">Last Grade Level Completed</label>
                <input type="text" class="form-control" id="L_Glevel" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="L_SY" class="form-label">Last School Year Completed</label>
                <input type="text" class="form-control" id="L_SY" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="L_Sch" class="form-label">Last School Attended</label>
                <input type="text" class="form-control" id="L_Sch" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="L_SchID" class="form-label"> School ID</label>
                <input type="text" class="form-control" id="L_SchID" placeholder="">
            </div>

            <h5 class="mt-5">For Learners in Senior High School</h5>
            <div class="col-md-12">
                <label for="shs" class="form-label">Semester</label>
                <select class="form-select" id="shs">
                    <option selected>Select 1st/2nd</option>
                    
                    <option value="1">1st Sem</option>
                    <option value="2">2nd Sem</option>
                    
                  </select>
            </div>
            <div class="col-md-6">
                <label for="track" class="form-label"> Track</label>
                <input type="text" class="form-control" id="track" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="strand" class="form-label"> Strand</label>
                <input type="text" class="form-control" id="strand" placeholder="">
            </div>

        </form>
    </div>

    
    <script  src="{% static 'playground/Perma.js'%}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>