{% extends "main.html" %}

{% block content %}
<div id="recently-deleted-books" class="content" style="display: block;">
    <h1 class="mt-4">Recently Deleted Books</h1>
    <hr>
    <div class="buttons">
        <form id="deleteAllForm" method="post" action="{% url 'delete_all_recently_deleted_books' %}">
            {% csrf_token %}
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete All</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Date</th>
                <th>Category</th>
                <th>Book Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="recently_deleted">
            {% for book in recently_deleted_books %}
                <tr>
                    <td>{{ book.BookTitle }}</td>
                    <td>{{ book.Author }}</td>
                    <td>{{ book.Description }}</td>
                    <td>{{ book.Date }}</td>
                    <td>
                        {% for category in book.Category.all %}
                            {{ category.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if book.BookImage.url %}
                            <img src="{{ book.BookImage.url }}" alt="{{ book.BookTitle }}">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{% url 'restore_book' book.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Restore</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
